/*id takes priority when conflicting changes occur*/

body {background: lightblue;padding:10px;}
.info{
  background: pink;
  width: 220px;
}

.gameButtons{

  width: 100px;
  height: 100px;
  font-size: 40px;
  color: lightyellow;
}

.zone{border: 2px solid;  padding: 5px;}

#inputZone{
  position : absolute;
  height: 400px;
  width: 380px;
}

#outputZone{
  position: absolute;
  left:420px;
  top: 20px;

  width: 350px;
}

.counter{
  width: 250px;
  height: 40px;
  font-size: 30px;
  background-color: yellow;
}

#gameZone{
  position: relative;
  top: 15px;
  left: 15px;

  width: 325px;
}

#debugZone{
  position: relative;
  top: 15px;
  left: 15px;

  width: 300px;
}
