/*id takes priority when conflicting changes occur*/

body {background: lightblue;padding:10px;}
.info{
  background: pink;
  width: 400px;
}

.gameButtons{
  background-color: darkgreen;
  width: 100px;
  height: 100px;
  font-size: 40px;
  color: lightyellow;
}

#inputZone{
  position : relative;
  left : -50px;
  top: 20px;
}

#switchButton{
  position : relative;
  left: 30px;

  width: 120px;
  height: 40px;
  font-size: 30px;
}

#movesCounter{
  position: relative;
  top: -85px;
  left: -580px;

  width: 250px;
  height: 40px;
  font-size: 30px;
  background-color: yellow;
}

#miscZone{
  position: relative;
  left:650px;
  top: 20px;
}

#gameZone{
  position: relative;
  left:300px;
  top: -80px;
}

#selectionZone{
  font-size: 20px;
  position: relative;
  top: -370px;
  left: 100px;
}

#debugZone{
  position: absolute;
  top: 390px;
  left: 70px;
}
